{% extends 'base.html' %}
{% load static %}
{% block title %}{{ request.site.name }} - {{ main_title }}{% endblock %}
{% block add_to_head %}
<link rel="stylesheet" href="{% static 'calc/style.css' %}">
{% endblock %}

{% block content %}
    {% include 'hero_over_home.html' %}
    {% include 'calc-new/calc-vue.html' %}

    <script src="{% static 'calc/calc_main.js' %}"></script>
    <script src="{% static 'calc/amount.js' %}"></script>
    <script type="text/javascript">moneyCalc.usdToday=55;
        console.log(moneyCalc.usdToday)
    </script>
{% endblock %}
