{% load about_tags%}
<div class="container pt-5">
    <div class="row justify-content-between">
        <div class="col">
{#            <a class="navbar-brand" href="/">REMONT199<span>.COM</span></a>#}
            <a class="navbar-brand"
               style="padding-left:.3rem; padding-right: .3rem;color:white;
               background: #631199;
               background: linear-gradient(90deg, rgba(99, 17, 153, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
               margin-bottom: .1rem; border-radius: 3px"
               href="/">{{request.site.name}}
            </a>
            <h6>Ремонт, который не нужно переделывать!</h6>
        </div>
        <div class="col d-flex justify-content-end">
            <div class="social-media">
                <p class="mb-0 d-flex">
                    {% for soc in social %}
                    <a href="{{ soc.link }}" class="d-flex align-items-center justify-content-center">
                        <span class="ion-logo-{{ soc.font_awesome_code }}"><i class="sr-only">{{ soc.name }}</i></span>
                    </a>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
</div>